.flightname {
    font-weight: bold;
    color: white;
    flex: 0.33;
    display: flex;
}

.coords {
    color: white;
    flex: 0.33;
    display: flex;
}

.box {
    display: flex;
    flex: 1;
    align-items: center;
    align-content: center;
    margin-left: 5px;
    background-color: transparent;
    border-color: transparent;
}

.button {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 5px;
    background-color: transparent;
    border-color: transparent;
}

.viewbutton {
    display: flex;
    background-color: white;
    color: black;
    align-items: center;
    align-content: center;
    font-weight: bold;
    
}

.view-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 3px;
  border-radius: 2px;
}

.flightList {
    display: flex;
    flex: 1;
    margin: 10px;
    flex-direction: row;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    z-index: 3;
    box-shadow: 3px -2px 1px white;
}